body{
    background: #f4f6f7;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#login-page-wrapper{
    /* background: #f4f6f7; */
    position: relative;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

#login-page-wrapper .form-wrapper{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 2rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

#login-page-wrapper .brand-img{
    max-width: 250px;
}

#login-page-wrapper .form-control{
    padding: 1.375rem 1.75rem;
}
.form-control::placeholder{
    color: #324148;
}

#login-page-wrapper .btn{
    border-radius: 50px;
}